input.invalid, textarea.invalid {
    border-color: #ff4d4d !important;
    background-color: #fff5f5;
}
/*Esto hace que mis errores salgan con rojo */
.error-text {
    color: #ff4d4d;
    font-size: 0.85em;
    margin-top: 5px;
    display: block;
    font-weight: 500;
    min-height: 18px; 
}
/*Esto hace que mis datos exitoso salgan en verde */
.success-text {  
    color: #28a745;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

.fomulario {
    background-color: #e7e7e7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 1px solid #000000;
}

button {
    width: 50%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s;
}